<li>
    <div class="items-main-img" style="background-image: url({{img}}">
        <div class="items-hover-img" style="background-image: url({{hoverImg}}"></div>
    </div>
    <div class="main-items-list">
        {{~keyword~}}
        <div class="main-items-list-price">{{price}}</div>
    </div>
</li>
