<li>
    <div class="event-list-box-img" number="{{no}}"
         style="background-image: url({{img}})">
    </div>
    <div class="event-list-box-text">
            {{{text}}}
        <div class="event-list-box-text-date">
            {{date}}
        </div>
    </div>
</li>
