<footer>
    <section class="footer-top">
        <ul class="footer-top-left">
            <li>CUSTOMER CENTER</li>
            <li>전화 <span>070-0000-0000</span> 카톡 ID <span>주스앤코</span></li>
            <li class="footer-top-greytext">
                AM 10:00 ~ PM 06:00<br>
                OFF-TIME PM 12:00 ~ PM 01:00<br>
                DAY OFF (SATURDAY, SUNDAY, HOLIDAY)
            </li>
        </ul>
        <ul class="footer-top-center">
            * ALL MADE FRESH IN PURE *<br>
            JUICE&CO
        </ul>
        <ul class="footer-top-right">
            <li>
                JUICE&CO
            </li>
            <li>
                이용약관 ㅣ 개인정보취급방침 ㅣ 이메일수집거부<br>
                사업자정보확인
            </li>
            <li class="footer-top-greytext">
                FAX 02-0000-0000<br>
                E-MAIL hanbit@hanbit.co.kr
            </li>
        </ul>
    </section>
    <section class="footer-bottom">
        <ul>
            <li>COPYRIGHT @HANBIT&CO CORP. ALL RIGHTS RESERVED</li>
            <li>상호명:(주)주스앤코 사업장소재지:서울특별시 마포구 백범로 사업자등록번호:000-00-0000 통신판매업신고:2017-서울마포-0000</li>
            <li>고객센터:070-0000-0000 팩스:02-0000-0000 이메일:hanbit@hanbit.co.kr 대표이사:김한빛 개인정보책임자:김한빛</li>
        </ul>
    </section>
</footer>
