<header>
    <div class="header-logo">
        <img src="../img/head_logo.png">
    </div>
    <div class="header-top">
        <div>
            <ul>
            <li class="header-top-left">
                <i class="header-top-left-text fa fa-facebook"></i>
                <i class="header-top-left-text fa fa-instagram"></i>
                <div class="header-top-left-text"> DIARY</div>
                <input id="search-input-box" type="text" class="header-search-box">
                <span id="search">search</span>
                </input>
                <i id="search-icon" class="header-search-box fa fa-search"></i>
            </li>
            <li class="header-top-right">
                <ul class="header-top-right-text">
                    <li id="login">LOGIN</li>
                    <li id="my-page">MY PAGE</li>
                    <li id="basket">BASKET</li>
                </ul>
            </li>
            </ul>
        </div>
    </div>
    <div class="header-menu">
    </div>
</header>