<ul class="header-menu-left">
    {{#each leftCategory}}
        <li leftCategory-id="{{title}}">{{~title~}}</li>
    {{/each}}
</ul>
<ul class="header-menu-right">
    {{#each rightCategory}}
        <li rightCategory-id="{{title}}">{{~title~}}</li>
    {{/each}}
</ul>