<ul class="header-menu-left">
    {{#each leftCategory}}
        <li>{{~title~}}</li>
    {{/each}}
</ul>
<ul class="header-menu-right">
    {{#each rightCategory}}
        <li>{{~title~}}</li>
    {{/each}}
</ul>