@import 'common.less';

.main-img {
  position: relative;
  background-image: url(../img/grapefruit.jpg);
  background-size: cover;
  background-position-y: 70%;
  width: 100%;
  height: 650px;
  border-bottom: solid 2.5px @back-gr-color;
  cursor: pointer;
}

.main-text-box {
  position: relative;
  display: inline-block;
  margin: 50px 0px 0px 850px;
  padding: 50px;
  width: 470px;
  height: 310px;
  background: rgba(255, 255, 255, 0.66);
  font-family: Arial;
  color: #333333;
  text-align: center;
  letter-spacing: -1px;
}

.main-text-box-first {
  padding-bottom: 13px;
  font-size: 25px;
  border-bottom: solid 1.5px rgba(95, 95, 95, 0.89);
}

.main-text-box-first > span {
  font-weight: bold;
}

.main-text-box-second {
  padding: 15px 0px 15px 0px;
  font-size: 20px;
}

.main-text-box-second > span {
  font-weight: bold;
  color: #141414;
}

.main-text-box-third {
  font-size: 17px;
  font-family: D2Coding;
  font-style: italic;
  color: #848484;
  letter-spacing: 2px;
}

.main-img-bottom {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 360px;
  text-align: center;
  font-weight: bold;
}

.main-img-bottom > li {
  position: relative;
  display: inline-block;
  background-size: cover;
  background-position: center;
  width: calc(100% / 2);
  height: 100%;
  padding-top: 140px;
  color: @header-font-color;
  font-size: 22px;
  text-shadow: 2px 2px 2px #3c3c3c;
  vertical-align: top;
  cursor: pointer;
}

.main-img-bottom > li:first-child {
  border-right: solid 2.5px @back-gr-color;
}

.main-img-bottom-text-top {
  margin-bottom: 10px;
  font-size: 18px;
}

.section-main-items {
  position: relative;
  display: inline-block;
  padding: 80px 200px 100px 200px;
  margin-bottom: 30px;
  width: 100%;
  height: 450px;
}

.main-items-img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.white-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.8);
}

.main-items-img > li {
  position: relative;
  display: inline-block;
  background-size: cover;
  background-position: center;
  margin-right: 45px;
  width: 250px;
  height: 100%;
  cursor: pointer;
}

.main-items-img > li:last-child {
  margin-right: 0px;
}

.main-items-text-box {
  padding: 40px 15px 40px 15px;
  opacity: 0;
}

.main-items-img-text-top {
  border-bottom: solid 1px #adadad;
  padding-bottom: 15px;
  font-family: D2Coding;
  font-size: 22px;
}

.main-items-img-text-top, .main-items-img-text-bottom {
  position: relative;
  display: inline-block;
  width: 100%;
  color: #171717;
  font-family: D2Coding;
  font-weight: bold;
  text-align: center;
  letter-spacing: -1px;
}

.main-items-img-text-top > span {
  font-family: Calibri;
  font-style: italic;
  font-size: 19px;
  font-weight: normal;
  color: #777777;
}

.main-items-img-text-bottom {
  position: relative;
  display: inline-block;
  padding-top: 15px;
  font-size: 12px;
  line-height: 180%;
}

.main-items-img-text-kal {
  position: absolute;
  display: inline-block;
  top: 90px;
  left: 65px;
  color: #4d4d4d;
  font-family: Calibri;
  font-weight: normal;
  font-size: 18px;
  vertical-align: top;
}

.main-items-text-box:hover {
  opacity: 100;
}

.main-items-list {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  width: 100%;
  color: @header-font-subcolor;
  font-weight: bold;
  font-size: 12px;
}

.main-items-list > li {
  position: relative;
  display: inline-block;
  width: calc(100% / 4);
  padding-right: 50px;
  vertical-align: top;
  text-align: center;
}

.main-items-list > li > span {
  color: #000;
  font-size: 11px;
}

.main-second-img {
  position: relative;
  display: inline-block;
  background-image: url(../img/limes.jpg);
  background-size: cover;
  margin-bottom: 50px;
  width: 100%;
  height: 550px;
}

.main-second-text-box {
  position: relative;
  display: inline-block;
  margin: 120px 0px 0px 900px;
  color: @header-font-color;
  font-family: D2Coding;
  text-align: center;
}

.main-second-text-box-head {
  font-family: sans-serif;
  font-style: italic;
  font-size: 28px;
}

.main-second-text-box-title {
  margin-top: 6px;
  font-size: 30px;
  letter-spacing: 5px;
}

.main-second-text-box-contents {
  margin: 20px 0px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 160%;
}

.main-second-text-box-button {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  padding: 7px 35px;
  border: solid 1px @header-font-color;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s;
}

.main-second-text-box-button:hover {
  opacity: 0.5;
  transition: all .5s;
}











