<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>주스앤코</title>
</head>
<body>
{{> template/header }}
<section class="about-intro" style="background-image: url(img/about/aboutMain.jpg)">
    <div class="about-dark-layer">
    <div class="about-intro-logo">
        <img class="about-fadein-contents" src="img/about/section1-text.png">
    </div>
    </div>
</section>
<section class="about-section-two" style="background-image: url(img/about/section2_coverImg.jpg)">
    <div class="about-dark-layer">
        <div class="about-section-two-text-box">
            <img class="about-fadein-contents" src="img/about/section2_text_re2.png">
        </div>
    </div>
</section>
<section class="about-section-third" style="background-image: url(img/about/section3-coverImg.jpg)">
    <div class="about-dark-layer">
        <div class="about-section-third-text-box">
            <img class="about-fadein-contents" src="img/about/section3_text_re1.png">
        </div>
    </div>
</section>
<section class="about-section-fourth" style="background-image: url(img/about/section4-coverImg.jpg)">
    <div class="about-dark-layer">
        <ul class="about-section-fourth-text-box about-fadein-contents">
            <li>
                <img src="img/about/section4_text_1_re1.png">
            </li>
            <li>
                <img src="img/about/section4_text_2_re1.png">
            </li>
            <li>
                <img src="img/about/section4_text_3_re1.png">
            </li>
        </ul>
    </div>
</section>
<section class="about-section-fifth" style="background-image: url(img/about/section5-coverImg.jpg)">
    <div class="about-dark-layer">
        <div class="about-section-fifth-text-box">
            <img class="about-fadein-contents" src="img/about/section5_text_re1.png">
        </div>
    </div>
</section>
{{> template/footer }}
</body>
</html>