<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header }}
<section class="event-banner">
    <ul class="event-banner-top">
        <li class="event-banner-left">
            <img src='img/event/event-board/event_left_banner.jpg'>
        </li>
        <li>
            <img src='img/event/event-board/event_right_banner.jpg'>
        </li>
        <div class="event-banner-bottom">
            <img src='img/event/event-board/event_center_banner.jpg'>
        </div>
    </ul>
</section>
<section class="event-list">
    <div class="event-list-logo">
        <img src='img/event/title_event.png'>
    </div>
    <div class="event-contents-box">
        <ul class="event-contents-box-ul">
        </ul>
    </div>
</section>
{{> template/footer }}
</body>
</html>