<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header }}
<section class="board-top">
    <img src='img/board/title_notice.png'>
</section>
<section>
    <table class="board-list table">
        <tbody>
        <tr class="board-list-title">
            <td class="board-title">환불신청 및 수령주소지 변경신청 가능시간 안내드립니다.</td>
            <td class="board-writer">JUICE&CO</td>
            <td  class="board-date">16.03.20</td>
        </tr>
        <tr class="board-content">
            <td colspan="3" class="board-contents">
                JUICE&CO의 주스는 신선도를 위해 발송 당일 착즙을 원칙으로 하고있습니다. : )<br>
                당일 발송되는 프로그램에 맞게 신선한 재료가 준비되고 착즙이 시작되므로<br>
                당일 주문취소 및 환불 신청은 발송 당일 오전 9시 이전까지만 접수가 가능합니다.<br>
                이후 접수건은 신선제품 특성상 교환, 환불신청 또는 반품접수가 어려운 점 많은 양해 부탁드립니다.<br>
                수령받고자 하시는 주소지의 변경은 오전 11시 이전까지 신청이 가능합니다.<br>
                고객센터(070-4125-5096)에 변경 요청 또는<br>
                온라인스토어 Q&A 게시판에 주소지 변경 신청 접수해 주시면<br>
                빠른 처리 도와드리겠습니다.<br>
                감사합니다 : )
            </td>
        </tr>
        <tr class="board-list-title">
            <td class="board-title">택배사 변경 안내드립니다.</td>
            <td class="board-writer">JUICE&CO</td>
            <td class="board-date">16.03.10</td>
        </tr>
        <tr class="board-content">
            <td colspan="3" class="board-contents">
                안녕하세요. JUICE&CO 입니다.<br>
                택배사 변경 안내드립니다.<br>
                기존 택배배송 업체인 ‘로젠택배’ 에서 2016년 3월 3일(목)부터는<br>
                ‘우체국 택배’로 택배사를 변경하여 주스를 보내드리게 되었습니다.<br>
                JUICE&CO 의 신선한 주스를 더욱 빠르고 안전하게 수령하실 수 있도록 노력하겠습니다.<br>
                감사합니다! :-)
            </td>
        </tr>
        <tr class="board-list-title">
            <td class="board-title">당일 주문 접수 마감시간은 오전 9시 입니다.</td>
            <td class="board-writer">JUICE&CO</td>
            <td class="board-date">16.03.10</td>
        </tr>
        <tr class="board-content">
            <td colspan="3" class="board-contents">
                발송 당일 착즙을 원칙으로 하는 JUICE&CO는 주스 제조 퀄리티와 신선도를 위해<br>
                오전 9시에 당일 주문접수가 마감됩니다!<br>
                오전 9시 이후에 결제 완료된 주문건은 다음 회차 발송일로 접수되며<br>
                당일 발송이 어려운 점 많은 양해 부탁드립니다.
                감사합니다!
            </td>
        </tr>
        </tbody>
    </table>
</section>
{{> template/footer }}
</body>
</html>