<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header }}
<section class="board-top">
    <img src='img/board/title_notice.png'>
</section>
<section>
    <table class="board-list table">
        <!--<thead>
        <tr>
            <th>내용</th>
            <th>작성자</th>
            <th>날짜</th>
        </tr>
        </thead>-->
        <tbody>
        <tr class="board-list-title">
            <td class="board-title">당일 주문 접수 마감시간은 오전 9시 입니다.</td>
            <td class="board-writer">JUICE&CO</td>
            <td class="board-date">16.03.10</td>
        </tr>
        <tr class="board-content">
            <td colspan="3" class="board-contents">
                발송 당일 착즙을 원칙으로 하는 JUICE&CO는 주스 제조 퀄리티와 신선도를 위해<br>
                오전 9시에 당일 주문접수가 마감됩니다!<br>
                오전 9시 이후에 결제 완료된 주문건은 다음 회차 발송일로 접수되며<br>
                당일 발송이 어려운 점 많은 양해 부탁드립니다.
                감사합니다!
            </td>
        </tr>
        <tr>
            <td>택배사 변경 안내드립니다.</td>
            <td>JUICE&CO</td>
            <td>16.03.10</td>
        </tr>
        <tr>
            <td>환불신청 및 수령주소지 변경신청 가능시간 안내드립니다.</td>
            <td>JUICE&CO</td>
            <td>16.03.20</td>
        </tr>
        </tbody>
    </table>
</section>
{{> template/footer }}
</body>
</html>