<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header }}
<section class="delivery-img">
    <div class="delivery-back-img">
        <img src='./img/delivery/delivery_logo.png'>
    </div>
</section>
<section class="delivery-contents">
        <img src='./img/delivery/delivery_content.png'>
</section>

{{> template/footer }}
</body>
</html>