<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header }}
<div class="event-page">
    <section class="event-page-title">
        <img src="img/event/title_event.png">
        <div class="event-page-date">
            17.06.02
            <div class="event-page-icon">
                <img src="img/event/rightArrow.svg">
            </div>
        </div>
    </section>
    <section class="event-page-contents">
        <img class="event-page-contents-img" src="img/event/eventImg.png">
    </section>
    <section class="event-page-move">
        <div class="event-page-move-text">move</div>
    </section>
</div>
{{> template/footer }}
</body>
</html>