<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header }}
<section class="gallery-page">
<div class="gallery-page-head-logo">
    <img src='img/gallery/gallery_ico.png'>
</div>
<div class="gallery-list">
    <ul class="gallery-list-ul">
    </ul>
</div>
</section>
{{> template/footer }}
</body>
</html>