<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header}}
<section>
    <div class="main-img">
    <ul class="main-text-box">
        <li class="main-text-box-first">
            <span>주스앤코</span>의 봄맞이 <span>신메뉴</span> 출시!
        </li>
        <li class="main-text-box-second">
            다가오는 따뜻한 봄날,<br>
            <span>주스앤코만의 레시피</span>로<br>
            <span>맛과 영양공급이 뛰어난 신메뉴</span>를<br>
            <span>곧</span> 만나보실 수 있습니다.
        </li>
        <li class="main-text-box-third">
           Comming soon
        </li>
    </ul>
    </div>
    <ul class="main-img-bottom">
        <li style="background-image: url(./img/summer.jpg)">
            <div class="main-img-bottom-text-top">EVENT</div>
            <div class="main-img-bottom-text-bottom">여름준비! 다이어트 기획전</div>
        </li>
        <li style="background-image: url(./img/review.jpg)">
            <div class="main-img-bottom-text-top">REVIEW</div>
            <div class="main-img-bottom-text-bottom">구매후기 보러가기</div>
        </li>
    </ul>
</section>
<section class="section-main-items">
    <ul class="main-items-img">
        <li style="background-image: url(./img/loyalcure.JPG)">
            <div class="main-items-text-box white-layer">
            <div class="main-items-img-text-top">
                <span>Royal Cure</span><br>
                로얄큐어
            </div>
            <div class="main-items-img-text-bottom">
                각종 뿌리채소의 맛이<br>
                신선하게 움직이는 주스<br>
                <span class="main-items-img-text-kal">250ml / 90kcal</span>
            </div>
            </div>
        </li>
        <li style="background-image: url(./img/milky.JPG)">
            <div class="main-items-text-box white-layer">
            <div class="main-items-img-text-top">
                <span>Milky Cashew</span><br>
                밀키 캐슈
            </div>
            <div class="main-items-img-text-bottom">
                고소한 캐슈넛과<br>
                깔끔한 코코넛워터의<br>
                조화로운 만남<br>
                <span class="main-items-img-text-kal">250ml / 305kcal</span>
            </div>
            </div>
        </li>
        <li style="background-image: url(./img/beetu.JPG)">
            <div class="main-items-text-box white-layer">
            <div class="main-items-img-text-top">
                <span>Beets You</span><br>
                비트 유
            </div>
            <div class="main-items-img-text-bottom">
                뿌리채소인 비트,당근,<br>
                생강의 조화로운 맛을<br>
                느낄 수 있는 주스<br>
                <span class="main-items-img-text-kal">250ml / 80kcal</span>
            </div>
            </div>
        </li>
        <li style="background-image: url(./img/ojayc.JPG)">
            <div class="main-items-text-box white-layer">
            <div class="main-items-img-text-top">
                <span>Ojay C</span><br>
                오제이 씨
            </div>
            <div class="main-items-img-text-bottom">
                부담없이 즐길 수 있는<br>
                상큼한 주스<br>
                <span class="main-items-img-text-kal">250ml / 90kcal</span>
            </div>
            </div>
        </li>
        <ul class="main-items-list">
            <li>
                ROYAL CURE / 로얄 큐어<br>
                <span>7,000 won</span>
            </li>
            <li>
                MILKY CASHEW / 밀키 캐슈<br>
                <span>7,000 won</span>
            </li>
            <li>
                BEETS YOU / 비트 유<br>
                <span>7,000 won</span>
            </li>
            <li>
                OJAY C / 오제이 씨<br>
                <span>7,000 won</span>
            </li>
        </ul>
    </ul>
</section>
<section>
    <div class="main-second-img">
        <ul class="main-second-text-box">
            <li class="main-second-text-box">
                Fresh and Natural
            </li>
            <li class="main-second-text-box-title">
                FRESH AND NATURAL
            </li>
            <li class="main-second-text-box-contents">
                최적의 지역에서 최고품질의<br>
                신선한 채소와 과일을 제공받습니다.<br>
                주스의 당도를 높이기 위한 과당,<br>
                보존을 위한 보존제 등은 일체 첨가하지 않습니다.
            </li>
            <li class="main-second-text-box-button">
                VIEW MORE
            </li>
        </ul>
    </div>
</section>
<section></section>
<section></section>
{{> template/footer}}
</body>
</html>