<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header}}
<section>
    <div class="main-img">
    <ul class="main-text-box">
        <li class="main-text-box-first">
            <span>주스앤코</span>의 봄맞이 <span>신메뉴</span> 출시!
        </li>
        <li class="main-text-box-second">
            다가오는 따뜻한 봄날,<br>
            <span>주스앤코만의 레시피</span>로<br>
            <span>맛과 영양공급이 뛰어난 신메뉴</span>를<br>
            <span>곧</span> 만나보실 수 있습니다.
        </li>
        <li class="main-text-box-third">
           Comming soon
        </li>
    </ul>
    </div>
    <ul class="main-img-bottom">
        <li class="main-event-page" style="background-image: url(./img/summer.jpg)">
            <div class="main-img-bottom-text-top">EVENT</div>
            <div class="main-img-bottom-text-bottom">여름준비! 다이어트 기획전</div>
        </li>
        <li class="main-review-page" style="background-image: url(./img/review.jpg)">
            <div class="main-img-bottom-text-top">REVIEW</div>
            <div class="main-img-bottom-text-bottom">구매후기 보러가기</div>
        </li>
    </ul>
</section>
<section class="section-main-items">
    <ul class="main-items-img">
    </ul>
    <ul class="main-items-list">
    </ul>
</section>
<section>
    <div class="main-second-img">
        <ul class="main-second-text-box">
            <li class="main-second-text-box-head">
                Fresh and Natural
            </li>
            <li class="main-second-text-box-title">
                FRESH AND NATURAL
            </li>
            <li class="main-second-text-box-contents">
                최적의 지역에서 최고품질의<br>
                신선한 채소와 과일을 제공받습니다.<br>
                주스의 당도를 높이기 위한 과당,<br>
                보존을 위한 보존제 등은 일체 첨가하지 않습니다.
            </li>
            <li class="main-second-text-box-button">
                VIEW MORE
            </li>
        </ul>
    </div>
</section>
<section class="main-middle-head">
    <div class="main-middle-head-logo">
        JUICE<br>
        &CO<br>
    </div>
    <div class="main-middle-head-text">
        <span>D</span>iary and <span>N</span>ews
    </div>
</section>
<section class="main-diary-n-news">
    <ul class="main-diary-contents">
        <li class="top">
            <div class="main-diary-img" style="background-image: url(./img/honey.jpg)"></div>
            <div class="main-diary-title">
                블렌즈 주스 4종에만 들어가는 달콤한 꿀!
            </div>
            <div class="main-diary-text">
                꿀은 단당류의 식품으로 단당류는 더 이상 분해될 수 없는 최소단위의 성분입니다.<br>
                단당류의 경우 흡수가 빠른 성분이고, 꿀을 먹고나서 바로 에너지원으로 바뀌기 때문에 피로 회복에 아주 좋은 식품입니다.<br>
                <br>
                과음 후 꿀물을 타서 드시곤하는데요.<br>
                위 표면에 보호막을 만들어 술로 인한 속쓰름을 완화...
            </div>
            <div class="main-diary-text-move">
                move
            </div>
        </li>
        <li class="top">
            <div class="main-diary-img" style="background-image: url(./img/second.jpg)"></div>
            <div class="main-diary-title">
                주스앤코의 봄맞이 신메뉴 출시!
            </div>
            <div class="main-diary-text">
                NEW MENU COMING SOON<br>
                <br>
                주스앤코 팩토리에선 새로운 신메뉴 개발을 마치고 여러분들을 찾아뵐 준비를 하고 있습니다.<br>
                <br>
                면역력 증진과 다이어트 일석 이조를 잡을 수 있는 기회!<br>
                <br>
                많은 기대하셔도 좋습니다.
            </div>
            <div class="main-diary-text-move">
                move
            </div>
        </li>
        <li class="top">
            <div class="main-diary-img" style="background-image: url(./img/third.jpg)"></div>
            <div class="main-diary-title">
                주스앤코의 귤 농장
            </div>
            <div class="main-diary-text">
                Tangerine Farm visiting<br>
                <br>
                12월, 제철을 맞은 귤의 마지막 수확 현장을 보기위해 제주도의 귤 농장을 방문하였습니다.
                청정 제주 성산지역에서 재배되고 수확하는 주스앤코의 ‘유기농 귤’은 농약은 물론이고 화학비료 한 줌 넣지 않고 키우고 퇴비마저도 식물성 퇴비를 자가 제조하여 비옥한 토양에 듬뿍 뿌렸습니다.<br>
                <br>
                유기농 귤은 수확 후 나무에서 떨어져 나와도 계속 숨을 쉬는데, 습도가 낮아져서 껍질은 마르더라도 과육은 촉촉하고 신선한 상태의 맛을 유지하는게 가...
            </div>
            <div class="main-diary-text-move">
                move
            </div>
        </li>
        <li class="top">
            <div class="main-diary-img" style="background-image: url(./img/fourth.jpg)"></div>
            <div class="main-diary-title">
                왜 콜드 프레스 주스인가
            </div>
            <div class="main-diary-text">
                cold press juice<br>
                <br>
                일반적으로 많이 접하는 주스들은 스크류가 회전하며 과일과 야채를 으깨는 동시에 쥐어짜는 스퀴즈(squeeze) 방식으로 착즙을 할 경우 착즙 과정에서 공기가 주스 안으로 유입돼 산화를 촉진시키는 한편,
                마찰열 등으로 인해 과일과 채소의 영양소를 다량 파괴 한다고 합니다.<br>
                <br>
                콜드프레스 (Cold Press) 방식은 마찰열과 칼날의 자극없이 과일과 채소를 촘촘한 망에 담아 수 톤의 압력으로 눌러 (Press) 주스를 만듭니다. 이렇게 만들어진 착즙주스는 ...
            </div>
            <div class="main-diary-text-move">
                move
            </div>
        </li>
        <li>
            <div class="main-diary-img" style="background-image: url(./img/five.jpg)"></div>
            <div class="main-diary-title">
                최고의 녹황색 채소, 케일!
            </div>
            <div class="main-diary-text">
                세계 10대 푸드에도 포함되고, JUICE&.CO가 사랑하는 케일!<br>
                <br>
                케일은 100g당 16kcal로 대표적인 저칼로리 식품이며, 녹황색채소 중에서도 베타카로틴과 비타민 함유량이 월등히 높고, 다양한 영양소를 함유한 슈퍼채소입니다!<br>
                <br>
                케일의 대표적인 효능은 빈혈예방과 항암작용이 있는데요!
                케일에는 철분과 엽산이 다량 함유되어 빈혈예방에 효과적이고, 베타카로틴은 체내에서 비타민A로 전환되어 강력한 항암작용을 하고 비타민류는 암 치료제인 인터페론의 생...
            </div>
            <div class="main-diary-text-move">
                move
            </div>
        </li>
        <li>
            <div class="main-diary-img" style="background-image: url(./img/six.jpg)"></div>
            <div class="main-diary-title">
                주스앤코의 사과 농장
            </div>
            <div class="main-diary-text">
                Apple Farm visiting<br>
                <br>
                다가오는 11월 초 수확을 앞 둔 사과 농장에 방문 하였습니다!<br>
                <br>
                주스앤코가 공급 받는 사과는 경상북도 상주의 백화산 중턱 해발 350M 이상의 고랭지에서 자라 큰 일교차와 풍부한 일조량을 통해 높은 당도와 단단한 육질, 아삭한 식감을 자랑합니다.
                주스앤코가 태어나고부터 공급받은 이 사과 농장엔 특별함이 있습니다.<br>
                <br>
                보통의 농가에서는 사과의 저장성을 높이기 위해 스마트처리를 합니다. 스마트처리란, 사과는 수확하고나면 ...
            </div>
            <div class="main-diary-text-move">
                move
            </div>
        </li>
    </ul>

</section>
<section class="main-contents-bottom">
    <div class="move">
        move
    </div>
</section>
{{> template/footer}}
</body>
</html>