<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header}}
<section>
    <div class="main-img">
    <ul class="main-text-box">
        <li class="main-text-box-first">
            <span>주스앤코</span>의 봄맞이 <span>신메뉴</span> 출시!
        </li>
        <li class="main-text-box-second">
            다가오는 따뜻한 봄날,<br>
            <span>주스앤코만의 레시피</span>로<br>
            <span>맛과 영양공급이 뛰어난 신메뉴</span>를<br>
            <span>곧</span> 만나보실 수 있습니다.
        </li>
        <li class="main-text-box-third">
           Comming soon
        </li>
    </ul>
    </div>
    <ul class="main-img-bottom">
        <li style="background-image: url(./img/summer.jpg)">
            <div class="main-img-bottom-text-top">EVENT</div>
            <div class="main-img-bottom-text-bottom">여름준비! 다이어트 기획전</div>
        </li>
        <li style="background-image: url(./img/review.jpg)">
            <div class="main-img-bottom-text-top">REVIEW</div>
            <div class="main-img-bottom-text-bottom">구매후기 보러가기</div>
        </li>
    </ul>
</section>
<section></section>
<section></section>
<section></section>
<section></section>
{{> template/footer}}
</body>
</html>