<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header}}
<section>
    <div class="main-img">
    <ul class="main-text-box">
        <li class="main-text-box-first">
            <span>주스앤코</span>의 봄맞이 <span>신메뉴</span> 출시!
        </li>
        <li class="main-text-box-second">
            다가오는 따뜻한 봄날,<br>
            <span>주스앤코만의 레시피</span>로<br>
            <span>맛과 영양공급이 뛰어난 신메뉴</span>를<br>
            <span>곧</span> 만나보실 수 있습니다.
        </li>
        <li class="main-text-box-third">
           Comming soon
        </li>
    </ul>
    </div>
    <ul class="main-img-bottom">
        <li class="main-event-page" style="background-image: url(./img/summer.jpg)">
            <div class="main-img-bottom-text-top">EVENT</div>
            <div class="main-img-bottom-text-bottom">여름준비! 다이어트 기획전</div>
        </li>
        <li class="main-review-page" style="background-image: url(./img/review.jpg)">
            <div class="main-img-bottom-text-top">REVIEW</div>
            <div class="main-img-bottom-text-bottom">구매후기 보러가기</div>
        </li>
    </ul>
</section>
<section class="section-main-items">
    <ul class="main-items-img">
    </ul>
    <ul class="main-items-list">
    </ul>
</section>
<section>
    <div class="main-second-img">
        <ul class="main-second-text-box">
            <li class="main-second-text-box-head">
                Fresh and Natural
            </li>
            <li class="main-second-text-box-title">
                FRESH AND NATURAL
            </li>
            <li class="main-second-text-box-contents">
                최적의 지역에서 최고품질의<br>
                신선한 채소와 과일을 제공받습니다.<br>
                주스의 당도를 높이기 위한 과당,<br>
                보존을 위한 보존제 등은 일체 첨가하지 않습니다.
            </li>
            <li class="main-second-text-box-button">
                VIEW MORE
            </li>
        </ul>
    </div>
</section>
<section class="main-middle-head">
    <div class="main-middle-head-logo">
        JUICE<br>
        &CO<br>
    </div>
    <div class="main-middle-head-text">
        <span>D</span>iary and <span>N</span>ews
    </div>
</section>
<section class="main-diary-n-news">
    <ul class="main-diary-contents">
    </ul>
</section>
<section class="main-contents-bottom">
    <div class="move">
        move
    </div>
</section>
{{> template/footer}}
</body>
</html>