<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header }}
<section class="login-section">
    <div class="login-logo-box">
        <img src="img/login/title_login.png">
    </div>
    <div class="login-input-box">
        <input type="text" class="input" style="background-image: url(img/login/login_id.png)"></input>
        <input type="text" class="input" style="background-image: url(img/login/login_pw.png)"></input>
    <ul class="find-box">
        <li id="hover">FIND ID</li>
        <li><img src='img/login/btn_find_line.png'></li>
        <li id="hover">FIND PW</li>
        <li><img src='img/login/btn_find_line.png'></li>
        <li id="hover">JOIN</li>
    </ul>
        <div class="ok-box">
            <img src='img/login/btn_login.png'>
        </div>
    </div>
</section>
<section class="guest-section">
    <div class="login-logo-box">
        <img src="img/login/title_guestorder.png">
    </div>
    <ul class="login-input-box">
        <li class="guest-login-list" style="background-image: url(img/login/guest_ordername.png)">
            <input type="text" class="guest-input" ></input>
        </li>
        <li class="guest-login-list" style="background-image: url(img/login/guest_orderno.png)">
            <input type="text" class="guest-input" id="order-no">
            -
            <input type="text" class="guest-input" id="order-no">
        </li>
        <li class="guest-login-list" style="background-image: url(img/login/guest_orderpw.png)">
            <input type="text" class="guest-input" ></input>
        </li>
        <div class="ok-box" id="guest">
            <img src='img/login/btn_login.png'>
        </div>
    </ul>
</section>
{{> template/footer }}
</body>
</html>