<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header }}
<section class="login-section">
    <div class="login-title-logo" style="background-image: url(img/login/title_login.png)"></div>
</section>
{{> template/footer }}
</body>
</html>